<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="org.nypl.simplified.simplye">

  <uses-sdk android:targetSdkVersion="28" />

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <uses-feature android:name="android.hardware.location.gps" />

  <application
    android:name="org.nypl.simplified.app.Simplified"
    android:allowBackup="true"
    android:contentDescription="@string/feature_app_name"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/feature_app_name"
    android:largeHeap="true"
    android:theme="@style/SimplifiedBlank"
    android:usesCleartextTraffic="true">

    <!-- Main entry point for the application. -->
    <activity
      android:name="org.nypl.simplified.app.splash.SplashActivity"
      android:configChanges="orientation|screenSize"
      android:contentDescription="@string/feature_app_name"
      android:label="@string/feature_app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- Main application parts -->
    <activity android:name="org.nypl.simplified.app.catalog.MainCatalogActivity"
      android:configChanges="orientation|screenSize"
      android:contentDescription="@string/catalog"
      android:exported="false"
      android:label="@string/catalog" />
    <activity android:name="org.nypl.simplified.app.catalog.MainBooksActivity"
      android:configChanges="orientation|screenSize"
      android:contentDescription="@string/catalog"
      android:exported="false"
      android:label="@string/catalog" />
    <activity android:name="org.nypl.simplified.app.catalog.MainHoldsActivity"
      android:configChanges="orientation|screenSize"
      android:contentDescription="@string/holds"
      android:exported="false"
      android:label="@string/holds" />

    <activity android:name="org.nypl.simplified.app.signup.CardCreatorActivity"
      android:configChanges="orientation|screenSize"
      android:contentDescription="Card Creator"
      android:exported="false"
      android:label="Card Creator" />

    <!-- Settings -->
    <activity
      android:name="org.nypl.simplified.app.settings.SettingsActivity"
      android:configChanges="orientation|screenSize"
      android:contentDescription="@string/settings"
      android:exported="false"
      android:label="@string/settings" />
    <activity
      android:name="org.nypl.simplified.app.settings.SettingsAccountActivity"
      android:configChanges="orientation|screenSize"
      android:contentDescription="@string/settings_account"
      android:exported="false"
      android:label="@string/settings_account" />
    <activity
      android:name="org.nypl.simplified.app.settings.SettingsAccountsActivity"
      android:configChanges="orientation|screenSize"
      android:contentDescription="@string/settings_accounts"
      android:exported="false"
      android:label="@string/settings_accounts" />
    <activity android:name="org.nypl.simplified.app.settings.SettingsVersionActivity"
      android:configChanges="orientation|screenSize"
      android:contentDescription="@string/versions_version"
      android:label="@string/versions_version"
      android:exported="false" />

    <!-- General components -->
    <activity android:name="org.nypl.simplified.app.WebViewActivity"
      android:configChanges="orientation|screenSize"
      android:exported="false" />

    <!-- Catalog -->
    <activity android:name="org.nypl.simplified.app.catalog.CatalogBookDetailActivity"
      android:contentDescription="@string/catalog_book_detail"
      android:exported="false"
      android:label="@string/catalog_book_detail" />
    <activity android:name="org.nypl.simplified.app.catalog.CatalogBookReportActivity"
      android:contentDescription="@string/catalog_book_report"
      android:exported="false"
      android:label="@string/catalog_book_report" />

    <!-- Reader -->
    <activity android:name="org.nypl.simplified.app.reader.ReaderActivity"
      android:configChanges="orientation|screenSize"
      android:contentDescription="@string/reader"
      android:exported="false"
      android:label="@string/reader" />
    <activity android:name="org.nypl.simplified.app.reader.toc.ReaderTOCActivity"
      android:configChanges="orientation|screenSize"
      android:contentDescription="@string/reader_toc"
      android:exported="false"
      android:label="@string/reader_toc" />

    <!-- PDF Reader -->
    <activity
        android:name="org.nypl.simplified.app.pdf.PdfReaderActivity"
        android:exported="true"
        android:configChanges="orientation|screenSize"
        android:label="@string/reader"
        android:contentDescription="@string/reader"
        />

    <!-- Audio book player -->
    <activity android:name="org.nypl.simplified.app.player.AudioBookPlayerActivity"
      android:configChanges="orientation|screenSize"
      android:contentDescription="@string/audio_book_player"
      android:exported="false"
      android:label="@string/audio_book_player" />

    <activity android:name="org.nypl.simplified.app.ReportIssueActivity"
      android:contentDescription="@string/hs_issuebutton_title"
      android:label="@string/hs_issuebutton_title"
      android:windowSoftInputMode="adjustResize" />

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileProvider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths"/>
    </provider>

    <uses-library
      android:name="org.apache.http.legacy"
      android:required="false" />
  </application>

</manifest>
