#
# Android Studio 2.2.3 Defaults
#

**/build
*.iml
.DS_Store
.externalNativeBuild
.gradle
/.idea/caches
/.idea/codeStyles
/.idea/dictionaries
/.idea/libraries
/.idea/workspace.xml
/captures
/local.properties

# Ignore .so files
**/jniLibs

#
# Certificates and API Keys
#
ReaderClientCert.sig 
bugsnag.conf 
helpstack.conf 
*.jks

