.classpath
.idea/libraries
.idea/workspace.xml
.project
.settings
gen
simplified-*/.classpath
simplified-*/.project
simplified-*/.settings
simplified-*/bin
simplified-*/target
ReaderClientCert.sig
target
pom.xml.versionsBackup
