<?xml version="1.0" encoding="UTF-8" ?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.nypl.simplified.tests.sandbox"
  android:versionCode="1"
  android:versionName="0.0.1">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:allowBackup="false"
    android:icon="@drawable/sandbox"
    android:label="SimplifiedSandbox">

    <activity
      android:name="org.nypl.simplified.tests.sandbox.StyledActivity"
      android:exported="true"
      android:theme="@style/SimplifiedBlank">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="org.nypl.simplified.tests.sandbox.SplashActivity"
      android:exported="true"
      android:theme="@style/SimplifiedTheme_ActionBar_Blue" />

    <activity
      android:name="org.nypl.simplified.tests.sandbox.SettingsAccountActivity"
      android:exported="true"
      android:theme="@style/SimplifiedTheme_NoActionBar_Blue" />

    <activity
      android:name="org.nypl.simplified.tests.sandbox.BookDetailActivity"
      android:exported="true"
      android:theme="@style/SimplifiedTheme_ActionBar_DeepPurple" />

    <activity
      android:name="org.nypl.simplified.tests.sandbox.ProfileActivity"
      android:exported="true"
      android:theme="@style/SimplifiedTheme_NoActionBar_Indigo" />

    <activity
      android:name="org.nypl.simplified.tests.sandbox.ErrorPageActivity"
      android:exported="true"
      android:theme="@style/SimplifiedTheme_ActionBar_DeepPurple" />
  </application>

</manifest>
