<?xml version="1.0" encoding="UTF-8" ?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.nypl.simplified.tests.sandbox"
  android:versionCode="1"
  android:versionName="0.0.1">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:allowBackup="false"
    android:icon="@drawable/sandbox"
    android:label="SimplifiedSandbox">
  </application>

</manifest>
