<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <!-- Create a logcat appender -->
  <appender
    name="LOG_CAT"
    class="ch.qos.logback.classic.android.LogcatAppender">
    <encoder>
      <pattern>%msg</pattern>
    </encoder>
  </appender>

  <!-- Log level - change this to ERROR on release -->
  <root level="DEBUG">
    <appender-ref ref="LOG_CAT"/>
  </root>

</configuration>
