<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <property name="EXT_FILES_DIR" value="${EXT_DIR:-/sdcard}/Android/data/${PACKAGE_NAME}/files"/>
  <property name="EXT_CACHE_DIR" value="${EXT_DIR:-/sdcard}/Android/data/${PACKAGE_NAME}/cache"/>

  <appender
    name="BUGSNAG"
    class="org.nypl.simplified.bugsnag.BugsnagLogbackAppender"/>

  <!-- Create a logcat appender -->
  <appender
    name="LOG_CAT"
    class="ch.qos.logback.classic.android.LogcatAppender">
    <encoder>
      <pattern>%msg</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${EXT_CACHE_DIR}/log.txt</file>
    <encoder>
      <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss,SSS"} %level %logger{128} - %msg%n</pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${EXT_CACHE_DIR}/log.txt.%d</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
  </appender>

  <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <root level="DEBUG">
    <appender-ref ref="LOG_CAT" />
    <appender-ref ref="ASYNC_FILE" />
    <appender-ref ref="BUGSNAG" />
  </root>

</configuration>
