<?xml version="1.0" encoding="UTF-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.nypl.simplified.books.tests.android"
  android:versionCode="109"
  android:versionName="1.0.9">
  <application>
    <uses-library android:name="android.test.runner"/>
  </application>
  <instrumentation
    android:name="android.test.InstrumentationTestRunner"
    android:targetPackage="org.nypl.simplified.books.tests.android"
    android:label="Tests."/>
  <uses-sdk
    android:minSdkVersion="19"
    android:targetSdkVersion="21"/>
</manifest>
