<?xml version="1.0" encoding="UTF-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.nypl.drm.tests.core">

  <application android:allowBackup="true">
    <uses-library android:name="android.test.runner"/>
  </application>

  <instrumentation
    android:name="android.test.InstrumentationTestRunner"
    android:targetPackage="org.nypl.drm.tests.core"
    android:label="Tests."/>

</manifest>
