<?xml version="1.0" encoding="UTF-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.nypl.simplified.app.tests"
  android:versionCode="1014"
  android:versionName="1.0.14">
  <application>
    <uses-library android:name="android.test.runner"/>
  </application>
  <instrumentation
    android:name="android.test.InstrumentationTestRunner"
    android:targetPackage="org.nypl.simplified.app.tests"
    android:label="Tests."/>
  <uses-sdk
    android:minSdkVersion="21"
    android:targetSdkVersion="28"/>
</manifest>
