name: Android CI (Robo Tests)

on:
  push:
    branches: [ release/* ]
    tags: v[0-9]+.[0-9]+.[0-9]+

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout reposistory
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Setup environment
        env:
          NYPL_S3_ACCESS_KEY:               ${{ secrets.NYPL_S3_ACCESS_KEY }}
          NYPL_S3_SECRET_ACCESS_KEY:        ${{ secrets.NYPL_S3_SECRET_ACCESS_KEY }}
          NYPL_NEXUS_USER:                  ${{ secrets.NYPL_NEXUS_USER }}
          NYPL_NEXUS_PASSWORD:              ${{ secrets.NYPL_NEXUS_PASSWORD }}
          MAVEN_CENTRAL_USERNAME:           ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_PASSWORD:           ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          MAVEN_CENTRAL_STAGING_PROFILE_ID: 'af061f5afba777'
          MAVEN_CENTRAL_SIGNING_KEY_ID:     '0xF0E34285824ED500'
          NYPL_GITHUB_ACCESS_TOKEN:         ${{ secrets.NYPL_GITHUB_ACCESS_TOKEN }}
        run: .ci/ci-main.sh setup-only

      - name: Build
        run: bash ./gradlew :simplified-app-simplye:assembleRelease --stacktrace

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Run Robo Tests
        run: |
          gcloud firebase test android run \
          --type robo \
          --app simplified-app-simplye/build/outputs/apk/release/simplye-release.apk \
          --device model=Pixel2,version=28,locale=en_US,orientation=portrait  \
          --device model=crownqlteue,version=27,locale=en_US,orientation=portrait  \
          --device model=sailfish,version=28,locale=en_US,orientation=portrait  \
          --device model=gts3lltevzw,version=28,locale=en_US,orientation=portrait  \
          --device model=blueline,version=28,locale=en_US,orientation=portrait  \
          --device model=beyond1,version=28,locale=en_US,orientation=portrait  \
          --device model=lake_n,version=28,locale=en_US,orientation=portrait  \
          --timeout 90s
